.MainWrapper{

    width : 100%;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 0vh 100vh 0vh;
    justify-items: center;
    align-items: center;
    height : 100vh;
    background-image: url("../img/monopoly-money.jpg");
}

.header{

    grid-column : span 3;
    height : 100%;
    width : 100%;
    border-radius: 2px;
    background-color: black;
    color : white;
}
h1{

    margin : 0;

}

.sidebar{

    height : 100%;
    width : 100%;
    background-color: #cbe2c5;
    display: grid;
    justify-items: center;
    align-items: center;
}

.GameStatsWrapper{

    height : 100%;
    width : 100%;
    grid-column: span 3;
    background-color: bisque;
    background-color: black;
    color : white;
}

