.joueurContainer{/*le conteneur global*/
    display: flex;
    flex-direction: row;
    
    width : 150pt;
    height : 50pt;
    box-sizing: border-box;
    border-radius: 10px;
    background:#A1BBB2
    
}

.photoJoueur{ /*conteuneur des la photo du joueur*/
    width: 30pt;
    height: 30pt;
    
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    float: left;
    border-radius: 25px;
    background: #A1BBB2
}

.content_container{ /*le contenaire du nom et le capitale  */
    
   display: flex;
   flex-direction: row;
    flex: 2;
    background:#A1BBB2
  }


.pion_moneyIcon_container{ /*le conteneur des deux cinteuneur money et pion*/
    display: flex;
    flex-direction: column;
    flex: 1;

}

.pion{  /*le conteuneur des pion*/
    width: 25pt;
    height: 25pt;
    border-radius: 25px;
    margin-left: 10pt;
    background: #A1BBB2
}

.moneyIcon{  /*le conteneur de la petite icon de l'argent */
    width: 25pt;
    height: 25pt;
    margin-left: 10pt;
    background: #A1BBB2
    

}

.name_money_container{ /*le conteuneur du nom et du capital*/
    display: flex;
    flex-direction: column;
    flex: 2;
    
}

.name_container{ /* le conteneur du nom*/
    flex: 1;
    font-size: 8pt;
    width: auto;
    height: auto;
}

.price_container{  /*le conteuneur de ton cpaital*/
    flex: 1;
    font-size: 8pt;
    width: auto;
    height: auto;

}

  