@import 'Global.scss';

.card{

    @include grid-container-mixin(center, center, 100%, 20% 25% 40% 15%);

    border-right: solid;
    box-sizing: border-box;

}


.hcard{

    @include grid-container-mixin(center, center stretch, 16% 84%, 50% 50%);
    border-right: solid;
    border-top: solid;
    box-sizing: border-box;
    border-left: solid;
    
}

.color-banner{

    box-sizing: border-box;
    border-bottom: solid;
    height : 100%;
    width : 100%;
}


.title-span{

    font-size: 1.3vh;
    text-align: center;
}

.price-span{

    height : 100%;
    font-size : 1.5vh;
    text-align: center;

}


.color-banner-hr{

    grid-row: span 2;
    height : 100%;
    border-right: solid;
}

.color-banner-hl{

    grid-row: span 2;
    height : 100%;
    border-left: solid;
}

