.MainWrapper{

    width : 100%;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 0vh 100vh 0vh;
    justify-items: center;
    align-items: center;
    height : 100vh;
    background-color: #5B8588;
    background-image: url("../img/monopoly_background2.jfif");
}

.header{

    grid-column : span 3;
    height : 100%;
    width : 100%;
    border-radius: 2px;
    background-color: black;
    color : white;
}

h1{

    margin : 0;

}

.sidebar{

    height : 98vh;
    width : 60%;
    background-color: #c0c7ef;
    display: grid;

}

.grid-item-dice-container-styles{

    background : radial-gradient(rgb(202, 17, 219),rgb(85, 6, 85));
    border-radius: 1%;
    height : 6.5rem;
    width : 100%;
    background-color: purple;

}


.left-sidebar{

    display: grid;
    grid-template-rows: 48% 48%;
    justify-items: center;
    align-content: space-around;
}



.opponents-sidebar{

    height : 100%;
    width : 95%;
    background-color: #9885c4;
    display: grid;
    grid-template-rows: repeat(5, 20%);
    align-items: center;
    border-radius: 1%;
    justify-items: center;

    
}

.log-wrapper{

    height : 100%;
    width : 95%;
    background-color: #6270be;
    display: grid;
    border-radius: 1%;
    justify-items: center;
}

.GameStatsWrapper{

    height : 100%;
    width : 100%;
    grid-column: span 3;
    background-color: bisque;
    background-color: black;
    color : white;
}

