@mixin grid-container-mixin($content, $items, $columns, $rows : auto) {
    
    display : grid;
    grid-template-columns: $columns;
    grid-template-rows : $rows;
    place-content: $content;
    place-items: $items;

}



.grid-container-center{

    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 90%;
    place-content: center;
    place-items: center;

}

.grid-container-space-around{

    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 90%;
    place-content: space-around;
    place-items: center;

}

.grid-container-space-between{

    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 90%;
    place-content: space-between;
    place-items: center;

}


.grid-item{

    display: flex;
    justify-content: center;
    align-items: center;

}

.button-default{

    border : 0;
    border-radius : 5px;
    height : 3.3rem;
    width : 10rem;
}

