.grid-container-center{

    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 90%;
    place-content: center;
    place-items: center;

}

.grid-container-space-around{

    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 90%;
    place-content: space-around;
    place-items: center;

}

.grid-container-space-between{

    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 90%;
    place-content: space-between;
    place-items: center;

}


.grid-item{

    display: flex;
    justify-content: center;
    align-items: center;

    
}