.grid-container-styles{

    height : 35rem;
    width : 75rem;
    background-color: #c0c7ef;
    grid-template-rows : 1.5rem 19rem !important;
    grid-template-columns: 45rem !important;

}

.lggrid-container-styles{

    height : 100%;
    grid-template-columns: 20rem 20rem !important;
    background-color: #B3ADDA;

}

.span-columns{

    grid-column: span 2;

}

.input-styles{

    height : 3rem;
    width : 30rem;
    border : 0;
    border-radius: 2%;
    text-align: center;

}

.lgcb-ml{

    margin-left : 8rem;
    
}

.lgcb-mr{

    margin-right : 8rem;
    
}