@import 'Global.scss';

.grid-container-styles{

    height : 95%;
    background-color: #c0c7ef;
    grid-template-rows : 1.5rem 19rem 13rem !important;
    grid-template-columns: 70rem !important;
    align-content: space-around !important;

}

.lggrid-container-styles{

    height : 100%;
    grid-template-columns: 20rem 20rem !important;
    background-color: #B3ADDA;

}

.span-columns{

    grid-column: span 2;

}

.input-styles{

    height : 3rem;
    width : 30rem;
    border : 0;
    border-radius: 2%;
    text-align: center;

}

.lgcb-ml{

    margin-left : 8rem;
    
}

.lgcb-mr{

    margin-right : 8rem;
    
}

.player-colors{

    @include grid-container-mixin(center, center, repeat(6, 16.66%), 100%);
    width : 100%;

}

.color-circle{

    height : 5rem;
    width : 5rem;
    border-radius: 100%;
    background-color: blue;

}

.player-colors-title{

    grid-column: span 6;
    width : 100%;
    text-align: center;
}

.checker{
    height : 6rem;
    width : 6rem;
}